/*
    BASE
*/
html {
    height:100%;
    padding: 0;
    margin: 0;
}

body {
    height:100%;
    padding: 0;
    margin: 0;
    color: #f6f6f6;
    font-family:'Play',serif;
}

a {
    text-decoration:none;
}

a:hover {
    color:#ff8a8a;
}

a:active {
    color:#51f09b;
}

/*
    LAYOUT
*/

.l-header {
    position:relative;
    display: block;
    margin: 0;
    padding: 0;
    background-color:#f4ede0;
    list-style:none;
    -webkit-box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    -moz-box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    box-shadow:0 5px 12px 2px rgba(50,50,50,1);
}

.l-constrained {
    max-width: 800px;
    margin: auto;
    display: block;
    padding: 0 2em;

}

.l-window {
    border-radius:8px;
    position:absolute;
    overflow:hidden;
    bottom:50%;
    left:50%;
    width:600px;
    height:auto;
    margin-left:-300px;
    margin-bottom:-200px;
    opacity:0;
    display:none;
    background-color:#f4ede0;
    -webkit-box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    -moz-box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:20px;
}

/*
    MODULES
*/

#article-image {
    width:100px;
    height:100px;
    float:left;
    margin-right:10px;
}

#article-summary {
    display:block;
}

#article {
    font-family:Play,sans-serif;
    padding:20px;
}

#cluster-link {
    float:left;
}

#prev-article {
    float:left;
    margin-right:130px;
}

#next-article {
    float:right;
}

#about-window p {
    margin:20px;
}

.infobar {
    position:absolute;
    left:0;
    top:70px;
    background-color:#ff6a6a;
    width:100%;
    text-align:center;
    display:none;
    opacity:0;
    -webkit-box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    -moz-box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    box-shadow:0 5px 12px 2px rgba(50,50,50,1);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:10px;
}

.infobar h2 {
    color:#f4ede0;
    font-size:20px;
    display:inline;
    text-align:center;
}

.button {
    border:2px solid #ff6a6a;
    border-radius:4px;
    display:inline;
    color:#ff6a6a;
    padding:5px;
}

.button:hover {
    background-color:#ff6a6a!important;
    color:#f4ede0 ;
    cursor:pointer;
}

.lightbar {
    height: 3px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(270deg, #6aade7, #ffffff, #6aade7);
    background-size: 600% 600%;

    -webkit-animation: Glow 10s ease infinite;
    -moz-animation: Glow 10s ease infinite;
    animation: Glow 10s ease infinite;


}

@-webkit-keyframes Glow {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes Glow {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes Glow {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.title {
    vertical-align: middle;
    width:420px;
    font-size:48px;
    display:inline-block;
    font-weight:700;
    margin: 0 auto;
}

.nav {
    position: relative;
    margin: 0;
    padding: auto;
    vertical-align: middle;
    display:inline-block;
    height: 100%;
    list-style-type:none;
}

.nav .is-open {
    background-color:#ff6a6a!important;
    color:#f4ede0!important;
    cursor:default!important;
}

.nav > li {
    border-radius:4px;
    cursor:pointer;
    line-height:56px;
    width:100px;
    text-align:center;
    display:inline-block;
}

.nav > li:hover {
    background-image: -webkit-radial-gradient(center bottom, ellipse cover, rgba(245, 235, 207, 1.0), rgba(0, 0, 0, 0));
}

#go {
    background-color:#f4ede0;
    font-size:16px;
    padding:8px;
}

#date .content>* {
    margin:5px;
}

#date-input {
    max-width:105px;
    border:none;
    font-size:16px;
    background:#f4ede0;
    -webkit-box-shadow:inset 0 2px 10px 0 rgba(50,50,50,1);
    -moz-box-shadow:inset 0 2px 10px 0 rgba(50,50,50,1);
    box-shadow:inset 0 2px 10px 0 rgba(50,50,50,1);
    padding:8px;
}

.is-open .content {
    width:250px;
}

#thick {
    color: #5e7980;
}

#thin {
    color: #84a7b0;
}

#map-canvas {
    position:relative;
    background-color:#363D41!important;
    height:100%;
}

#map-container {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
}

/*
    STATE
*/

.is-open .name,.is-closed .content {
    display:none;
}

/*
    THEME
*/

.theme-background {
    background-color: rgba(37, 40, 43, 0.7);
}
