
<!DOCTYPE html>
<html>
    <head>
        <title>Heatmap News</title>
        <meta charset="UTF-8">
        <meta name="description" content="Heatmap News gives you a quick
                                          overview of what is happening in the
                                          world right now.
                                          It provides a unique perspective by
                                          presenting the most important news
                                          stories from around the world
                                          on a map.">

        <meta name="keywords" content="map, news, world, education, war, current events">
        <meta name="author" content="Sam Cordingley">
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,500" rel="stylesheet" type="text/css">
        {% load staticfiles %}
        <link rel="icon"
            type="image/png"
            href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}"/>
    </head>
    <body>
        <div class="l-content" id ="map-container">
            <div id="map-canvas" style="width: 100%; height: 100%"></div>
        </div>
        <div class="l-header theme-background">

            <div class="l-constrained">
                <div class="title"><a href="/"><span id="thick">HEATMAP</span><img class="logo" src="{% static 'logo.png' %}"><span id="thin">NEWS</span></a></div>
                <ul class="nav l-right">
                    <li id="refresh">REFRESH
                    </li><li id="date" class="is-closed">
                        <div class="name">DATE</div>
                        <div class="content"><input type="text" id="date-input" placeholder="DD/MM/YYYY" onfocus="this.value=''"> <a id="go">GO</a></div>
                    </li><li id="about">ABOUT</li>
                </ul>
            </div>

        </div>
        <div id="infobar"><h2>NEWS NEAR <span class="country"></span></h2></div>

        <div class="l-window theme-background is-closed" id="article-window" >
            <img class="button" id="article-close" src="{% static 'close.png' %}">
            <h2><a id="article-title"></a></h2>
            <div id="article"><img id="article-image"/><p id="article-summary"></p></div>
            <a id="cluster-link">All related articles</a>
            <div class="l-right">
                <img src="{% static 'back.png' %}" class="button" id="prev-article">
                <img src="{% static 'next.png' %}"  class="button" id="next-article">
            </div>
        </div>

        <div class="l-window theme-background is-closed" id="about-window" >
            <img class="button" id="about-close" src="{% static 'close.png' %}">
            <h2><a href="http://www.heatmapnews.com">Heatmap News Version 3.0</a></h2>
            <p>Help:  Click on a hotspot to view news in that area.</p>
            <p>New in 3.0: New look and feel.</p>
            <p>News is provided by <a href="http://news.google.com">Google News</a> and has been collecting since 18/08/2014.</p>
            <p>Please send feedback to <a href="mailto:feedback@heatmapnews.com">feedback@heatmapnews.com</a>.</p>
        </div>

        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_RwWyPpAisEvXWlXd7dDx--nl2OrMj9g&libraries=visualization">
        </script>est
        <script type="text/javascript" src="{% static 'index.js' %}"></script>

    </body>
</html>
